@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #F8FAFC;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.containerMax {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.containerMax .nav {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-inline: 30px;
    padding-right: 60px;
    border-bottom: 1px solid #E5E7EB;
    overflow: hidden;

    .logo {
        display: flex;
        position: relative;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: center;
        scale: 1;
        background-position: center;

        &::after {
            content: 'CoClip';
            position: absolute;
            left: 80px;
            color: #403E43;
            font-size: 19px;
            font-weight: 700;
        }
    }

    .auth {
        display: flex;
        position: relative;
        width: 42px;
        height: 42px;
        background-color: transparent;
        border: 1.3px solid #E5E7EB;
        align-items: center;
        justify-content: center;
        scale: 1;
        background-position: center;
        border-radius: 10px;
        color: #737374;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: #E5E7EB80;
        }
    }
}

.containerFull {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    max-width: 1200px;
}

.containerMax .containerIn {
    display: flex;
    position: relative;
    width: 50%;
    left: 0;
    height: calc(100%);
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerIn .textTop {
    display: flex;
    font-size: 90px;
    color: #403E43;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    letter-spacing: -8px;
}

.containerIn .textarea {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.textarea .input {
    background-color: #F9FBFC;
    resize: none;
    padding: 25px;
    border-radius: 15px;
    width: 470px;
    height: 190px;
    padding-bottom: 50px !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.textSmall {
    display: flex;
    font-size: 13.5px;
    color: #737374;
    width: fit-content;
    font-weight: 460;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 0px;
    text-align: center;
}

.textarea .buttonCont {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.textarea .button {
    display: flex;
    position: relative;

    height: 39px;
    border-radius: 10px;
    box-shadow: none;
    background-color: #F8FAFC;
    cursor: pointer;

    &:hover {
        background-color: #E5E7EB;
    }
}

.space {
    display: flex;
    width: 0;
    height: 30px;
}

.containerMax .containerOut {
    display: flex;
    position: relative;
    width: 50%;
    left: 0;
    height: calc(100%);
    background-color: transparent;
    align-items: center;
    justify-content: center;

}


.auth1 {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.buttonAuth {
    display: flex;
    position: relative;

    height: 41px;
    border-radius: 7px;
    cursor: pointer;
}


@media screen and (max-width: 1040px) {
    .containerIn {
        scale: 0.9;
    }

    .containerOut {
        scale: 0.9;
    }

    .containerOut .retrieveCont {
        margin-left: 30px;
    }

    .containerMax .containerOut {
        width: 100%;
    }

    .containerOut .retrieveCont {
        width: 100%;
    }
}

@media screen and (max-width: 870px) {
    .containerFull {
        flex-direction: column;
        height: fit-content;
    }

    .containerMax {
        height: fit-content;
    }

    body {
        height: fit-content;
    }

    .containerMax .containerIn {
        width: 100vw;
        height: 50%;
    }

    .containerMax .containerOut {
        width: 100vw;
        height: 50%;
    }

    .containerOut .retrieveCont {
        width: 90%;
        margin-left: 0;
        width: 500px !important;
    }
}

.retrieveCont {
    min-height: 400px;
    width: 100%;
}

.containerOut .retrieveCont {
    display: flex;
    position: relative;
    height: 90%;
    width: 80%;
    max-height: 542px;
    border: 1.2px solid #e5e5e5;
    background-color: #F8FAFC;
    border-radius: 15px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    .top {
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: inherit;
        border-bottom: 1px solid #e5e5e5;
        padding-inline: 20px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;


        .textHeading {
            display: flex;
            font-size: 15px;
            color: #737374;
            font-weight: 500;
            width: fit-content !important;
            background-color: transparent;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .inputSearch {
            min-width: 200px;
            display: flex;
            position: relative;
            background-color: transparent;
        }
    }
}

.containerOut .bottom {
    display: flex;
    width: 100%;
    height: calc(100%);
    background-color: transparent;
    overflow: hidden;
    overflow-x: hidden;



}

.containerOut .bottom .scrollableCont {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline: 20px;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto !important;
    overflow-x: hidden;
    gap: 5px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1;
    }





}

.time {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #828283;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 8px;
}

.date {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #828283;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.dateText {
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #4d4d4d;
    font-weight: 400;
    align-items: start;
    width: fit-content;
    height: fit-content;
    justify-content: start;
    font-size: 15px;
}

.copied {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content !important;
    max-height: fit-content !important;
    background-color: transparent;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    transition: .3s;

    &:hover {
        background-color: #f3f3f7
    }

    &:nth-child(odd) {
        background-color: #f3f3f780;
    }

    .text {
        display: flex;
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #4d4d4d;
        font-weight: 400;
        align-items: start;
        width: fit-content;
        height: fit-content;
        justify-content: start;
        font-size: 15px;
    }


}

.icons {
    display: flex;
    position: absolute;
    right: 20px;
    top: 12.5px;
    width: fit-content;
    height: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 5px;
    color: #737374;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 27px;
        height: 27px;
        border-radius: 6px;
        transition: .2s;
        background-color: #f2f2f700;
        cursor: pointer;

        &:hover {
            background-color: #e5e5e5;
            color: #737374;
        }
    }
}